footer {
  display: flex;
  background-color: #37517e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 2rem;
  color: #fff;
}

.footer-left {
  display: flex;
}

.footer-left strong {
  font-weight: bold;
}

.footer-right {
  display: flex;
}

.footer-right a {
  color: #47b2e4;
  text-decoration: none;
}

.footer-right a :hover {
  color: #73c5eb;
}
