@import url(./header-font.css);
@import url(./reset.css);

* {
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-color: rgba(255, 255, 255, 0.5);
  --drop-down-bgc: #fff;
}

.header-top {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #023b6d;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
}

.header-logo {
  padding-left: 0.5rem;
  display: flex;
  width: 15%;
}

.header-logo img {
  height: 1.5rem;
  width: 11rem;
}

.header-preview-devices a {
  color: var(--header-color);
  padding-left: 0.5rem;
  transition: all 0.3s;
}

.header-preview-devices input {
  display: none;
}

.header-preview-devices a:hover {
  color: white;
}

.header-preview-devices {
  display: flex;
  align-items: center;
}

.header-current-template a {
  color: var(--header-color);
  padding-left: 0.5rem;
  transition: all 0.3s;
}

.header-current-template a:hover {
  color: white;
}

.header-current-template span {
  padding: 0.5rem 0;
}

.header-current-template {
  margin-left: 23%;
  display: flex;
  align-items: center;
  color: white;
}

.header-current-template div {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-navigate {
  display: flex;
  margin-left: 0;
  align-items: center;
  justify-content: flex-end;
  width: 47%;
}

.header-navigate-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header-export {
  padding-left: 0.5rem;
  transition: all 0.3s;
  color: var(--header-color);
}

.header-export:hover {
  color: white;
}

.header-download {
  background-color: #00a6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin-left: 0.5rem;
  color: white;
  transition: all 0.3s;
  width: 10rem;
}

.header-download:hover {
  filter: brightness(110%);
}

.header-nav-fixed {
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: #37517e;
  z-index: 98;
}

.header-nav-container {
  display: flex;
  margin: 0 5rem;
  margin-right: 7rem;
  justify-content: space-between;
}

.header-nav-extra {
  display: none;
}

.header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
  width: 5rem;
  height: 5rem;
  text-align: center;
  margin: 0 0.5rem;
}

.header-nav-item a {
  color: #fff;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.header-nav-right a:hover {
  color: #47b2e4;
}

.header-logo-text {
  font-size: 30px;
  margin-right: 3px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-nav-right {
  display: flex;
  justify-content: center;
}

.header-nav-right :nth-child(8) a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100;
  border-radius: 50px;
  border: 2px solid #47b2e4;
  padding: 0 1rem;
  height: 50%;
}

.header-nav-right :nth-child(8) a:hover {
  color: white;
  background-color: #31a9e1;
}

#header-dropdown {
  position: relative;
}

#header-dropdown:hover .header-dropdown-menu {
  display: block;
}

.header-dropdown-menu {
  display: none;
  position: absolute;
  top: calc(60%);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  /* visibility: hidden; */
  background: var(--drop-down-bgc);
  box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
  transition: 0.3s;
  border-radius: 4px;
}

.header-dropdown-menu li:hover {
  color: #31a9e1;
  background-color: var(--drop-down-bgc);
}

.header-dropdown-menu a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

#header-deep-dropdown:hover .header-deep-dropdown-menu {
  display: block;
}

.header-deep-dropdown-menu {
  display: none;
  position: absolute;
  left: 11rem;
  top: calc(30%);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  background: var(--drop-down-bgc);
  box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
  transition: 0.3s;
  border-radius: 4px;
  z-index: -1;
}

.page-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.page-top-button:hover {
  background-color: #6bc1e9;
}

.page-top-button a {
  color: white;
}

@media (max-width: 1120px) {
  .header-preview-devices {
    display: none;
  }

  .header-top {
    justify-content: space-between;
  }

  .header-current-template {
    margin-left: 20rem;
  }
}

@media (max-width: 994px) {
  .header-nav-right {
    display: none;
  }

  .header-nav-extra {
    display: block;
  }

  .header-nav-extra a {
    color: white;
  }

  .header-nav-container {
    align-items: center;
  }

  .header-current-template {
    margin-left: 17rem;
  }
}

@media (max-width: 768px) {
  .header-logo {
    display: none;
  }

  .header-current-template {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .header-nav-container {
    margin: 0;
    padding-left: 1rem;
  }

  .header-nav-extra {
    padding-right: 1rem;
  }
}
