.about2 {
  background: #ebeff3;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 15rem;
  width: 100%;
}

.about2_flexbox {
  display: flex;
  margin: 5rem 3rem;
  /* justify-content: space-between; */
}

.about2_word {
  width: 20rem;
  min-width: 11rem;
}

.about2_word div {
  /* display: flex; */
  /* min-width: 100%; */
}

.about2_word_top div {
}

.about2_word_top #word_big {
  color: rgb(33, 33, 162);
  font-size: 1.2rem;
}

.about2_word_top #word_big strong {
  font-weight: bold;
}

.about2_word_top #word_small {
  color: rgb(179, 179, 199);
  font-size: 0.1rem;
}

.about2_word_bottom {
  flex-wrap: nowrap;
}

.about2_word_bottom ul li {
  /* position: relative; */
  padding: 0.5rem 0;
  background-color: white;
  margin-top: 1rem;
  /* display: flex; */
}

.about2_word_bottom ul li span {
  display: inline;
  color: #47b2e4;
  font-weight: bold;
  padding-left: 1rem;
}

.about2_word_bottom ul li p {
  font-size: 0.5rem;
  display: inline;
}

.about2_word_bottom ul li i {
  font-size: 0.5rem;
  font-weight: bold;
  float: right;
  padding-right: 1rem;
  /* position: relative; */
}

.about2_word_bottom li:hover {
  cursor: pointer;
  color: #47b2e4;
}

.about2_art {
  display: flex;
  justify-content: baseline;
  padding-left: 1rem;
  max-width: 21rem;
}

.about2_art img {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}

@media screen and (max-width: 35rem) {
  .about2 {
    top: 20rem;
  }

  .about2_flexbox {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .about2_art img {
    max-width: 18rem;
  }

  .about2_art {
  }
}

@keyframes about2_anima_left {
  from {
    opacity: 0;
    margin-top: 2rem;
  }

  to {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes about2_anima_right {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.about2_word {
  animation: about2_anima_left;
  animation-duration: 3s;
}

.about2_art {
  animation-name: about2_anima_right;
  animation-duration: 2s;
}
